//banners & promos

.banner {
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,100,100,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,100,100,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,100,100,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,100,100,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,175,75,1) 0%, rgba(255,100,100,1) 100%);
    background: linear-gradient(135deg, rgba(255,175,75,1) 0%, rgba(255,100,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff6464', GradientType=1 );
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;

    @include breakpoint(medium){
        font-size: 20px;
    }

    a {
        color: #fff;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.mc-promo {
    padding: 50px;
    
    p {
        font-size: 18px;
        font-style: italic;

        @include breakpoint(large only){
            font-size: 15px;
        }
    }

    a.button {
        box-shadow: 0 0 0 0 #ff6464;
        padding: 17px 25px;

        @include breakpoint(large only){
            font-size: 13px;
        }
    }
}

.doc-template .mc-promo{
    a {
        @include breakpoint(large only){
            font-size: 15px;
        }
    }

    h2 {
        @include breakpoint(large only){
            font-size: 23px;
        }
    }
}