.button {
    background-color: transparent;
    padding: 1rem 1.5rem;
    color: #4e4e4e;
    font-size: 15px;
    font-weight: 700;
    margin: 1rem 0;
    text-decoration: none;

    @include breakpoint(medium){
        font-size: 18px;
        margin: 1rem 0 2rem 0;
    }

    // gradient code
    border: none;
    display: inline-block;
    border-radius: 99px;
    position: relative;
    z-index: 1;
    padding: 17px 35px;
    letter-spacing: 2px;

    &:before, 
    &:after {
        content: ' ';
        position: absolute;
        border-radius: 99px;
    }    

    &:before {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: #503b9a;
        background: -moz-linear-gradient(left, $dark-gradient 0%, $light-gradient 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, $dark-gradient), color-stop(100%,$light-gradient));
        background: -webkit-linear-gradient(left, $dark-gradient 0%,$light-gradient 100%);
        background: -o-linear-gradient(left, $dark-gradient 0%,$light-gradient 100%);
        background: -ms-linear-gradient(left, $dark-gradient 0%,$light-gradient 100%);
        background: linear-gradient(to right, $dark-gradient 0%,$light-gradient 100%);
        // need to look at filter in a separate browser before trying to render the variables
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#269cc1',GradientType=1 );
    }

    &:after {
        top: 2px; 
        bottom: 2px;
        left: 2px;
        right: 2px;
        background-color: #fff;
        z-index: -1;
        opacity: 1;
        transition: all 0.6s ease-in-out;
    }

    &:hover{
        color: #fff;
        
        &:after {
            opacity: 0;
        }
    }

    &:focus {
        color: #4e4e4e;
    }
}