/*******************************************************************************
* Licensed Materials - Property of IBM
* (C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
*
* Note to U.S. Government Users Restricted Rights:
* Use, duplication or disclosure restricted by GSA ADP Schedule
* Contract with IBM Corp.
*******************************************************************************/

.card_headline {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.card {
    display: block;
    text-align: center;
    padding: 7%;
    border-radius: 20px;

    @include breakpoint(medium){
        justify-content: space-evenly;
        text-align: left;
        padding: 40px;
    }

    @include breakpoint(small){
        justify-content: space-evenly;
    }

    &_icon {
        max-width: 100%;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-top: 0.75rem;

        @include breakpoint(large){
            width: 60%;
        }
        @include breakpoint(small only){
            width: 35%;
            margin-bottom: 2rem;
        }
        &_top{
            max-width: 65%;
            margin-top: 0.85rem;

            @include breakpoint(small only){
            width: 35%;
            margin-top: 7rem;
            margin-bottom: 2rem;
            }
        }
    }

    &_title {
        font-size: 30px;
        font-weight: 700;
        color: #fff;

        @include breakpoint(small only){
            font-size: 20px;
            font-weight: 700;
            text-align: left;
        }
    }

    .button {
        margin-bottom: 0;
    }
}

/* specific card styles */

.features {
    .card {
        @include breakpoint(medium){
            text-align: left;
        }
    }
}

p {
    color: #fff;
    margin-top: 2em;

    @include breakpoint(small only){
        text-align: left;
    }
}