/*******************************************************************************
* Licensed Materials - Property of IBM
* (C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
*
* Note to U.S. Government Users Restricted Rights:
* Use, duplication or disclosure restricted by GSA ADP Schedule
* Contract with IBM Corp.
*******************************************************************************/

.masthead {
  @include breakpoint(small) {
    .nav-start-btn {
      position: relative;
    }
  }

  @include breakpoint(small only) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @include breakpoint(medium) {
    padding: 36px 0;
    .nav-start-btn {
      top: -10px;
    }
  }

  .logo {
    @include breakpoint(small only) {
      width: fit-content;
      min-width: 235px;
    }
  }

  .nav_link a {
    color: #fff;
    transition: all 0.3s ease;
    padding: 10px 20px;
    text-decoration: none;
  }

   .nav_link a:hover {
    background: #fff;
    color: #054ADA;
    transition: all 0.3s ease;
  }

  .nav_link a:focus {
    background: #C9DEFF;
    color: #054ADA;
    transition: all 0.3s ease;
  }

  .dropdown.menu>li>a {
    padding-right:1.9rem;
    padding-left:0rem;
  }

  .is-dropdown-submenu .js-dropdown-active{
     margin-bottom: 0px;
  }
  .blog {
    margin-right: 20px;
    margin-top: -8.9px;
  }

  .nav_link{
    background-color: #054ADA;
    border: solid 1px #fff;
    display: inline-block;
    max-width: 350px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  }

  .dropdown.menu>li.is-active>a {
    background: none;
    color: #ffffff;
  }

  .dropdown.menu>li.is-dropdown-submenu-parent>a::after{
    border-color: #ffffff transparent;
  }

  .dropdown.menu>li.opens-right>.is-dropdown-submenu{
    @include breakpoint(large) {
      top: 55%;
    }

    @include breakpoint(medium only) {
      top: 40%;
    }
  }

  li.is-dropdown-submenu-parent.opens-right{
    width: 100%;
  }

  p {
    font-size: 2rem;
    margin-top: 0.2em;
    font-weight: 700;

    @include breakpoint(medium only){
      font-size: 1.65rem;
      margin-top: -0.2rem;
      font-weight: 600;
    }
    @include breakpoint(small only){
      font-size: 1.1rem;
      margin-top: 0.5em;
      font-weight: 700;
    }
  }

  .main-nav-wrapper {
    @include breakpoint(small only) {
      margin-top: 0.2rem;
    }
  }
}
