<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.

Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<footer id="footer">
    <div class="footer-content">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-12">
                    <div class="social-container">
                        <ul class="social">
                            <li>
                                <h2 class="community-header">Join Our Community</h2>
                            </li>
                            <li><a href="https://github.com/IBM/zopeneditor-about/issues" target="_blank"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/icon-logo-github.svg"
                                        alt="Github link"></a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="logo-container">
                        <ul class="logo-slogan">
                            <li class="medium-order-1 small-order-1">
                                <p>Copyright &copy; 2018 IBM</p>
                                <a href="#"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/zopeneditor-logo.svg"
                                        alt="IBM Z Open Editor logo"
                                        class="zopeneditor-logo">
                                </a>
                            </li>
                            <li class="medium-order-2 small-order-2">
                                    <p class="footer-logo">Powered by</p>
                                    <a href="https://zowe.org/home/" target="_blank"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/zowe-footer-logo.svg"
                                            alt="Zowe logo">
                                    </a>
                                </li>
                             <li class="medium-order-3 small-order-3">
                                    <p class="footer-logo">Visual Studio Code</p>
                                    <a href="https://code.visualstudio.com/" target="_blank"><img src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/images/vscode-footer-logo.svg"
                                        alt="Microsoft Visual Studio Code logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Close overall container divs -->
</div>
</div>
</div>
<!-- Closing overall container divs -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg=="
    crossorigin="anonymous"></script>
<!-- Compressed JavaScript -->
<script src="{% if site.baseurl | size > 1 %}{{site.baseurl | append: '--@@' | remove: '/--@@' | remove: '--@@' }}{% endif %}/dist/scripts/main.js"></script>
</body>

</html>