<div role="navigation" aria-label="masthead" class="masthead">
  <div class="grid-x">
    <div class="cell small-11 medium-4 large-5 xxlarge-4">
      <p>
        IBM Z® Open Editor
      </p>
    </div>
    <div class="cell small-1 medium-8 large-7 xxlarge-8">
      <div
        class="mobile-nav-bar"
        data-responsive-toggle="toggle-main-nav"
        data-hide-for="medium"
      >
        <button
          class="menu-icon"
          type="button"
          data-toggle="toggle-main-nav"
        ></button>
      </div>
      <div class="main-nav-wrapper" id="toggle-main-nav">
        <nav aria-label="main-nav" class="main-nav">
          <ul class="vertical medium-horizontal menu">
            <li><a href="#about" data-smooth-scroll>About</a></li>
            <li>
              <a href="./Docs/introduction.html" target="_blank"
                >Docs</a
              >
            </li>
            <li><a href="#footer" data-smooth-scroll>Community</a></li>
            <li>
              <a
                href="https://github.com/IBM/zopeneditor-about/issues"
                target="_blank"
                >Feedback</a
              >
            </li>
            <li class="nav-start-btn">
              <a
                href="./Docs/getting_started.html"
                target="_blank"
              >
                <button class="bx--btn bx--btn--secondary" type="button">
                  Get Started
                </button>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- close masthead -->
