<div role="navigation" aria-label="masthead" class="masthead">
  <div class="grid-x">
    <div class="cell small-11 medium-4 large-5 xxlarge-4">
      <img
        src="dist/images/wazi-header-logo.svg"
        alt="Wazi logo"
        class="logo"
      />
    </div>
    <div class="cell small-1 medium-8 large-7 xxlarge-8">
      <div
        class="mobile-nav-bar"
        data-responsive-toggle="toggle-main-nav"
        data-hide-for="medium"
      >
        <button
          class="menu-icon"
          type="button"
          data-toggle="toggle-main-nav"
        ></button>
      </div>
      <div class="main-nav-wrapper" id="toggle-main-nav">
        <nav aria-label="main-nav" class="main-nav">
          <ul class="vertical medium-horizontal menu">
            <li><a href="#">About</a></li>
            <li>
              <a href="./Docs/introduction.html" target="_blank"
                >Docs</a
              >
            </li>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a class="blog" href="#">Blog</a>
                <ul class="menu">
                  <li class="nav_link">
                    <a
                      href="https://developer.ibm.com/mainframe/2018/12/13/wazi-a-web-ide-for-z-open-development-powered-by-zowe/"
                      target="_blank"
                      >Technology Preview 1</a
                    >
                  </li>
                  <li class="nav_link">
                    <a
                      href="https://developer.ibm.com/mainframe/2019/03/28/wazi-a-next-gen-developer-experience-for-ibm-z-technology-preview-2/"
                      target="_blank"
                      >Technology  Preview 2</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <li><a href="#footer" data-smooth-scroll>Community</a></li>
            <li>
              <a
                href="https://github.com/ibm/wazi-tutorial/issues"
                target="_blank"
                >Feedback</a
              >
            </li>
            <li class="nav-start-btn">
              <a
                href="https://epwt-www.mybluemix.net/software/support/trial/cst/programwebsite.wss?siteId=536&tabId=1045&w=1"
                target="_blank"
              >
                <button class="bx--btn bx--btn--secondary" type="button">
                  Get Started
                </button>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- close masthead -->
