<script>
    digitalData = {
        customName1: "source",
          customValue1: "Landing page",
        page: {
          customName1: "source",
          customValue1: "Landing page",
          subCategory: "data",
            pageInfo: {
                pageID: 'Landing page - {% if page.title %}{{ page.title | append: ' - ' | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}',
                productTitle: 'Wazi',
                customName1: "source",
              customValue1: "Landing page",
                analytics: {
                    category: 'Offering Interface',
                    customName1: "source",
                  customValue1: "Landing page",
                }
            }
        }
    };
</script>
<script type="text/javascript"> window._analytics = { "segment_key" : "fbo2tbfqOhsEQA27GiOKcMwpj9Y8cbz9", "coremetrics" : false, "optimizely" : false, "googleAddServices": false, "fullStory" : false}; </script>
<script src="https://console.cdn.s-bluemix.net/analytics/build/bluemix-analytics.min.js"></script>