@import 'settings';
@import 'foundation';
@import 'base/foundation-imports';

@import 'base/variables';
@import 'base/animations';

@import 'base/normalize';
@import 'base/font';
@import 'base/global';

// Import Components
@import 'components/banners';
@import 'components/buttons';
@import 'components/cards';
@import 'components/footer';
@import 'components/header';
@import 'components/masthead';
@import 'components/nav';
@import 'components/videos';

// Import Layouts
@import 'layouts/docs';
@import 'layouts/document';
@import 'layouts/heroes';


// Import Plugins
// @import 'plugins/plugin';

