<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="grid-y grid-frame container-info align-center-middle animated fadeIn" style="height:100vh;">
    <div class="cell auto" style="max-height:50%;">
        <div class="grid-x full-height">
            <div class="cell small-3 full-height">
                <div class="grid-x full-height">
                    <div class="cell small-5 tile blue0 title half-height about">
                        <h3>About</h3>
                        <p><b>IBM Z Open Editor</b> brings COBOL and PL/I language support to Microsoft Visual Studio Code (VS Code). It is one of the several next generation capabilities for an open development experience for z/OS<sup>®</sup>. It also uses and extends Zowe Open Mainframe project.</p>


                    </div>
                    <div class="cell auto tile blue3 half-height">
                        <a class="tile-link" data-open="modalVScode" href="#"><img alt="vs code" src="assets/img/vscode.svg" title="VS Code Extensions"></a>
                    </div>
                    <div class="cell tile blue1 half-height" style="width:33.3%">
                        <a class="tile-link" data-open="modalZowe" href="#"><img alt="zowe" src="assets/img/zowe.svg" title="Powered by Zowe"></a>
                    </div>
                </div>
            </div>
            <div class="cell small-1 tile blue4">
                <a class="tile-link" data-open="modalTheiaChe" href="#"><img src="assets/img/theia_che.svg" title="Integrates with Theia and Eclipse Che"></a>
            </div>
            <div class="cell small-1 full-height">
                <div class="grid-x full-height">
                    <div class="cell small-5 tile blue1" style="height:50%;">
                        <a class="tile-link" data-open="modalExplorers" href="#"><img alt="explorers" src="assets/img/explorers.svg" title="Explorers"></a>
                    </div>
                    <div class="cell small-5 tile blue3" style="height:50%;">
                        <a class="tile-link" data-open="modalCopybook" href="#"><img src="assets/img/copybook.svg" title="Preview remote copybooks"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell auto" style="max-height:25%;">
        <div class="grid-x full-height infographic-row">
            <div class="cell small-1 tile blue4">
                <a class="tile-link" data-open="modalShortcuts" href="#"><img src="assets/img/shortcuts.svg" title="Custom shortcuts"></a>
            </div>
            <div class="cell small-1 tile blue2">
                <a class="tile-link" data-open="modalGit" href="#"><img src="assets/img/git.svg" title="Git SCM Integration"></a>
            </div>
            <div class="cell small-2 tile blue3">
                <a class="tile-link" data-open="modalCobol" href="#"><img src="assets/img/cobol_pl1.svg" title="Advance language servers, COBOL and PL/I. JCL Syntax highlighting"></a>
            </div>
            <div class="cell small-1 tile blue2">
                <a class="tile-link" data-open="modalSyntax" href="#"><img src="assets/img/syntax.svg" title="Realtime syntax check"></a>
            </div>
        </div>
    </div>
    <div class="cell auto" style="max-height:25%;">
        <div class="grid-x full-height">
            <div class="cell small-1 tile blue1">
                <a class="tile-link" data-open="modalOutline" href="#"><img src="assets/img/outline.svg" title="Sortable and searchable Outline view"></a>
            </div>
            <div class="cell small-1 tile blue3">
                <a class="tile-link" data-open="modalCodelens" href="#"><img src="assets/img/codelens.svg" title="Declaration refrences, list, and Go to Definition using CodeLens"></a>
            </div>
            <div class="cell small-1 tile blue4">
                <a class="tile-link" data-open="modalRefactor" href="#"><img src="assets/img/refactor.svg" title="Refactoring"></a>
            </div>
            <div class="cell small-1 tile blue2">
                <a class="tile-link" data-open="modalSnipets" href="#"><img src="assets/img/snipets.svg" title="Code snippets"></a>
            </div>
            <div class="cell small-1 tile blue1">
                <a class="tile-link" data-open="modalTerminal" href="#"><img src="assets/img/terminal.svg" title="Terminal integration"></a>
            </div>
        </div>
    </div>
</div>