<div class="reveal small blue1 modal-info animated fadeInUp" id="modalCodelens" data-reveal>
  <h3>VS Code Codelens</h3>
  <img src="assets/img/peek-references.gif"><br><br>
  <p>Experience a full integration of standard VS Code language feature such as Code Lenses. These are mini-views that overlay the editor showing you content from another location. For example, right-click a variable or paragraph and select Peek References from the context menu, which opens a code lens showing all the places that reference the item. Then quickly review the code for each occurence or navigate the editor to that location.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 