<div class="reveal small blue1 modal-info animated fadeInUp" id="modalOutline" data-reveal>
  <h3>Outline View</h3>
  <img src="assets/img/outline-explorer.gif"><br><br>
  <p>Explore and navigate your COBOL and PL/I code efficiently with a complete sortable and interactive table of contents for your code. Use the Outline View to quickly jump to any part of your code by clicking its section header, or search for identifiers within the outline. Icons next to each Outline View item make it easy to identify procedures, loops, and more.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 