<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalSyntax" data-reveal>
  <h3>Realtime Syntax Check</h3>
  <p>You do not need to compile your COBOL or PL/I code anymore to find syntax errors. The editor will show them to you inside the editor as well as a dedicated Problems View just while you type.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
