<div class="reveal small blue1 modal-info animated fadeInUp" id="modalCobol" data-reveal>
  <h3>COBOL, Pl/I, and JCL</h3>
  <p>Boost your productivity with a modern and language-sensitive editor.</p>

<p>Using the Language Server Protocol (LSP), IBM Z Open Editor supports COBOL and PL/I outline view, syntax highlighting, code completion, code templates, find all references, peek definition, search and rename refactoring across multiple program files, and much more.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
