<div class="reveal small blue1 modal-info animated fadeInUp" id="modalGit" data-reveal>
  <h3>Git SCM Integration</h3>
  <p>Use the built-in VS Code Git capabilities to quickly find and access recently edited code. Use colored bars highlighting recently changed lines in an open editor window. Clicking on the SCM (Git) view will reveal and provide access to files that have been recently modified. If you have the GitLens extension installed, then you can also view in-editor annotations to see the most recent commit modifying each line of code.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 