<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalTheiaChe" data-reveal>
  <h3>Integration with Theia and Eclipse Che</h3>
  <p>IBM Z Open Editor has been tested to work in Cloud-based environments as well. Add it to any Eclipse Theia installation as a plug-in and it will automatically integrate its capabilities into that Browser-based editor. Alternatively, you can configure it as an editor plug-in in Eclipse Che to have a full COBOL and PL/I editing experience inside Che.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
