<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalRefactor" data-reveal>
  <h3>Refactoring</h3>
  <p>Utilize various refactoring operations such as Rename Symbol, which updates selected variable or paragraph name in the entire program as well as copybook or includes if it is attached to that symbol. Or, use Search-and-Replace operations with regular expressions to find and update and content over multiple files with a few mouse-clicks.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
