<div class="reveal small blue1 modal-info animated fadeInUp" id="modalTheiaChe" data-reveal>
  <h3>Integrates with Theia and Eclipse Che</h3>
  <p>IBM Z Open Editor has been tested to work in Cloud-based environments as well. Add it to any Eclipse Theia installation as a plugin and it will automatically integrate it's capabilities into that Browser-based editor. Alternatively, you can configure it as an editor plugin in Eclipse Che to have a full COBOL and PL/I editing experience inside Che.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 