<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalShortcuts" data-reveal>
  <h3>Custom Shortcuts</h3>
  <p>Use VS Code's custom Keyboard Shortcut and Keymaps feature to define your own shortcuts and custom ways of navigating your programs in the editor the way you want.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
