<div class="reveal small blue1 modal-info animated fadeInUp" id="modalZowe" data-reveal>
  <h3>Zowe</h3>
  <p>Interact directly with your mainframe IBM Z Open Editor is designed to integrate seamlessly with the VS Code Extension for Zowe. The VS Code Extension for Zowe allows you to connect remotely to the IBM z/OS mainframe system, where you can manage your data sets, files, and jobs, and use IBM Z Open Editor to efficiently and effectively edit your COBOL and PL/I applications. </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
