<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalExplorers" data-reveal>
  <h3>MVS™, USS, and JES | Remote Explorers</h3>
  <p>If you have z/OSMF configured, you can use Zowe CLI and the Zowe VS Code Extension to load and edit your files directly from z/OS or download them into your local workspace, add them to Git to control your changes, and then upload the changed files into the same or new data sets to compile and run your application. You can do all of these operations from IBM Z Open Editor directly with right-clicks and dialog interactions, and command-line operations using the VS Code Terminal view that integrates right below your editor, giving you one central view to everything.</p>

<p>After configuration, IBM Z Open Editor can also take advantage of the Zowe CLI protocol for resolving dependencies over the network. For example, you can edit your COBOL programs locally, but resolve copybook dependencies directly out of MVS using the same Zowe connections.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
