<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalTerminal" data-reveal>
  <h3>Terminal Integration</h3>
  <p>VS Code integrates a full terminal directly into the editor, which allows you to execute commands and scripts against your files inside the editor experience. Use it to ssh to USS and combined with a Zowe CLI installation directly interact with z/OS from that terminal starting jobs, uploading, downloading files etc. </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
