<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<div class="reveal small blue1 modal-info animated fadeInUp" id="modalSnipets" data-reveal>
  <h3>Code Snippets</h3>
  <p>Boost your productivity not only with code completion, but a curated list of larger COBOL and PL/I code snippets that ship with this extension. You can also create and manage your own code snippets that then integrate into the editing experience appearing just next to the pre-packaged snippets.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
