<div class="off-canvas position-left large" data-off-canvas="" data-transition="push" id="offCanvas">
	<ul class="vertical menu">
		<li class="section">
			<a data-smooth-scroll="" data-toggle="offCanvas" href="#about">About</a>
		</li>
		<li class="section">
			<a href="https://ibm.github.io/zopeneditor-about/Docs/introduction.html" target="_blank">Docs</a>
		</li>
		<li class="section">
			<p class="section-title">Blog</p>
			<ul class="vertical menu submenu">
				<li>
					<a href="https://developer.ibm.com/mainframe/2019/09/19/ibm-z-open-editor-brings-cobol-and-pl-i-language-support-to-microsoft-visual-studio-code/" target="_blank">Announcement</a>
				</li>
				<li>
					<li><a href="https://ibmsystemsmag.com/IBM-Z/9/2019/ibm-z-open-editor" target="_blank">Systems Management Article</a></li>
				</li>
			</ul>
		</li>
		<li class="section">
			<p class="section-title">Feedback</p>
			<ul class="vertical menu submenu">
				<li>
					<a href="http://ibm.biz/zopeneditor-survey" target="_blank">Survey</a>
				</li>
				<li>
					<a href="https://github.com/IBM/zopeneditor-about/issues" target="_blank">File an Issue</a>
				</li>
				<li>
					<a href="https://marketplace.visualstudio.com/items?itemName=IBM.zopeneditor&ssr=false#review-details" target="_blank">Submit a Review</a>
				</li>
			</ul>
		</li>
		<li class="section">
			<a href="#getting-started" data-smooth-scroll data-toggle="offCanvas">Get started</a>
		</li>
	</ul>
</div>