<!-- display for large resolution -->
<div class="grid-container full show-for-large" id="nav">
	<div class="grid-x">
		<div class="cell small-12 " data-sticky-container>
			<div class="sticky nav-container" data-margin-top="0" data-sticky="" data-top-anchor="header:bottom">
				<div class="top-bar topbar-sticky-shrink">
					 <ul class="dropdown menu" data-dropdown-menu data-options="hoverDelay:0; closingTime:5;
     closeOnClick:true; forceFollow:true;" >
					 	<li class="nav-svg"><a href="index.html" class="brand"><img src="assets/img/nav_title.svg" class="nav_title_svg"></a></li>
					 	<li><a href="#about" data-smooth-scroll>About</a></li>
					 	<li><a href="./Docs/introduction.html" target="_blank">Docs</a></li>
					 	<li><a href="#">Blog</a>
							<ul class="menu submenu animated fadeIn">
								  <li><a href="https://developer.ibm.com/mainframe/2019/09/19/ibm-z-open-editor-brings-cobol-and-pl-i-language-support-to-microsoft-visual-studio-code/" target="_blank">Announcement</a></li>
								  <li><a href="https://ibmsystemsmag.com/IBM-Z/9/2019/ibm-z-open-editor" target="_blank">Systems Management Article</a></li>
							</ul>
						</li>
						<li class="feedback"><a href="#">Feedback</a>
							<ul class="menu submenu animated fadeIn" >
								<li><a href="http://ibm.biz/zopeneditor-survey" target="_blank">Survey</a></li>
								<li><a href="https://github.com/IBM/zopeneditor-about/issues" target="_blank">File an Issue</a></li>
								<li><a href="https://marketplace.visualstudio.com/items?itemName=IBM.zopeneditor&ssr=false#review-details" target="_blank">Submit a Review</a></li>
							</ul>
						</li>
					 	<li><a href="#getting-started" data-smooth-scroll>Get started</a></li>
					 </ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- display for large resolution end-->

