<!-- display for mobile resolution -->
<div class="grid-container full hide-for-large" id="nav-mobile">
  <div class="grid-x">
    <div class="cell small-12" data-sticky-container>
      <div class="sticky" data-sticky data-sticky-on="small" data-margin-top="0" data-btm-anchor="footer:bottom">
        <div class="top-bar topbar-sticky-shrink">
          <ul class="menu">
            <li class="menu-svg"><a href="#" class="" data-toggle="offCanvas"><img src="assets/img/menu_icon.svg" class="nav_title_svg"></a></li>
            <li class="nav-svg"><a href="index.html" class=""><img src="assets/img/nav_title.svg" class="nav_title_svg"></a></li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- display for mobile resolution end-->