/* styles for pages with a docs-style layout */
.active-link {
  box-shadow: 0 4px 0 0 #ff6464;
}
.doc-template {

    //typescale for the docs pages
    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
    }

    .masthead {
        background-color: #00132e;
        padding: 0 15px;

        @include breakpoint(medium){
            padding: 36px;
        }
        
        a {
            color: #fff;
        }
    }

    @include breakpoint(small only){
        .title-bar-title {
            color: #fff;
        }

        .mobile-nav-bar {
            padding: 13px;
            width: 42px;
        }

        .main-nav-wrapper {
            background: rgb(52, 72, 100);
            padding: 20px;
        }

        .main-nav {
            li {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .content {
        overflow: auto; //hidden scroll bars when docs content is too wide (e.g. <code> sections)
        padding: 20px 20px 240px 20px; //240px only on mobile so that sidebar goes behind footer

        @include breakpoint(medium) {
            padding: 30px 30px 240px 30px;
        }

        @include breakpoint(large) {
            padding: 50px 50px 240px 50px;
        }

        @include breakpoint(xlarge) {
            padding: 60px 60px 240px 60px;
        }

        @include breakpoint(xxlarge) {
            padding: 70px 70px 240px 70px;
        }
    }

    footer {
        @include breakpoint(medium){
            position: relative;
            top: -130px;
            height: 390px;
        }
    }
}