<!--
Licensed Materials - Property of IBM
(C) Copyright IBM Corporation 2018-2019. All Rights Reserved.

Note to U.S. Government Users Restricted Rights:
Use, duplication or disclosure restricted by GSA ADP Schedule
Contract with IBM Corp.
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<base url="/zopeneditor-about">
	<title>IBM Z® Open Editor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="IBM Z® Open Editor is an IBM Enterprise Language Extension for Visual Studio Code.">
	<meta name="keywords" content="IBM, COBOL, PL/I, PLI, PL1, JCL, jesjcl, jesmsglg, jesysmsg, IDE, LSP, language-server, keybindings, snippet, z/OS, zOS, Z Software, Zowe, Mainframe, Visual ..."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Z Open Editor</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/css/animate.css">
  </head>
<body>

{{> body}}

<script src="{{root}}assets/js/app.js"></script>
<!-- Zowe -->
<!-- Zowe End -->
</body>
</html>
