/*******************************************************************************
* Licensed Materials - Property of IBM
* (C) Copyright IBM Corporation 2018-2019. All Rights Reserved.
*
* Note to U.S. Government Users Restricted Rights:
* Use, duplication or disclosure restricted by GSA ADP Schedule
* Contract with IBM Corp.
*******************************************************************************/

body,
p,
a {
    color: $content-color;
}

body {
    background-color: #000000;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

#content-container {
    max-width: 1440px;
}

.content-container-cell {
    background-color: #ffffff;
}

p {
    line-height: 1.5;
}

a {
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

code {
    background-color: #f0f3f6;
    color: #00132e;
    border: none;
}

main {
    background: url('../images/main-background.svg') no-repeat;
    background-size: 100%;
    background-color: #054ADA;
    background-position: 0 -2px;

    @include breakpoint(medium){
        padding: 25% 10px 10px 10px;
    }

    @include breakpoint(large){
        padding: 25% 20px 20px 20px;
    }

    @include breakpoint(xlarge){
        padding: 25% 40px 40px 40px;
    }

    @include breakpoint(xxlarge){
        padding: 25% 60px 60px 60px;
    }
}

.text-cta {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 5rem 0;

    @include breakpoint(small only){
        text-align: center;
    }

    @include breakpoint(medium){
        font-size: 28px;
    }

    @include breakpoint(large){
        font-size: 36px;
    }
}